.banner {
    color: white;
    height: 650px;
}

.banner_contents {
    position: relative;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    font-size: 1.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.banner_img{
    margin:0 auto;
    display: block;
}