.search_line {
    display: flex;
    padding: 20px;
    overflow:auto;
}

.search_poster {
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}

.search_poster:hover {
    transform: scale(1.08);
    opacity: 1;
}